<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify OTP</title>
  </head>
  <body>
    <h1>Verify OTP</h1>
    <form method="POST" action="/resetpassword">
      <div class="form-control">
        <label>Enter the OTP</label>
        <input type="text" name="otp" maxlength="6" />
      </div>
      <button>Verify OTP</button>
    </form>
  </body>
</html>
